@import url("https://fonts.googleapis.com/css?family=Heebo:100,400,700&display=swap&subset=hebrew");
@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:700&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body *,
body ::before,
body ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #141b22 url(/assets/img/bg.png) top center/100% auto no-repeat fixed;
}

main header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 20px;
}

@media screen and (max-width: 1200px) {
  main header {
    position: initial;
  }
}

@media screen and (min-width: 1200px) {
  main header {
    padding: 50px;
  }
}

main header a {
  max-width: 45%;
  max-height: 100%;
}

main header img {
  max-width: 100%;
  max-height: 100%;
}

main header .logo2 {
  width: 160px;
}

main header .logo3 {
  width: 260px;
}

main section.landing {
  min-height: 100vh;
  width: 100vw;
}

main section.landing .window-to-yeshivah {
  height: 60vh;
}

main section.landing .window-to-yeshivah img.yeshiva,
main section.landing .window-to-yeshivah img.window,
main section.landing .window-to-yeshivah .mask {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

main section.landing .window-to-yeshivah .mask {
  height: 43%;
  max-width: 75%;
  -webkit-mask: url(/assets/img/mask.png) center/contain no-repeat;
          mask: url(/assets/img/mask.png) center/contain no-repeat;
}

main section.landing .window-to-yeshivah .mask img.yeshiva {
  -o-object-fit: cover;
     object-fit: cover;
  bottom: -200px;
  -webkit-animation: pan 23s ease-in-out 0s infinite alternate;
          animation: pan 23s ease-in-out 0s infinite alternate;
}

main section.landing .window-to-yeshivah .mask video {
  min-width: 100%;
  height: 100%;
}

main section.landing .window-to-yeshivah img.window {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 90%;
  height: 60%;
}

main section.landing .text h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 200;
  color: #c3d3e2;
}

main section.landing .text .controls {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.landing .text .controls .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main section.landing .text .controls .btns svg.arrow {
  position: absolute;
  top: 40px;
  margin: 0 auto;
  right: 0;
  left: 0;
  fill: #4e6070;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-animation: move-down 1s linear 0s infinite;
          animation: move-down 1s linear 0s infinite;
}

main section.landing .text .controls .btns svg.arrow:hover {
  -webkit-transform: translateY(10px) scale(1.1);
          transform: translateY(10px) scale(1.1);
  fill: #c3d3e2;
}

main section.landing .text .controls .btns .icon {
  margin: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.landing .text .controls .btns .icon svg {
  cursor: pointer;
  background: #1d3144;
  padding: 6px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0 0 0 1px #eae888;
          box-shadow: 0 0 0 1px #eae888;
}

main section.landing .text .controls .btns .icon svg.play.animate {
  -webkit-animation: pulse 2s linear 0s infinite;
          animation: pulse 2s linear 0s infinite;
}

main section.landing .text .controls .btns .icon svg #primary,
main section.landing .text .controls .btns .icon svg #secondary {
  fill: #c3d3e2;
}

main section.landing .text .controls .btns .icon svg:hover, main section.landing .text .controls .btns .icon svg:focus {
  -webkit-box-shadow: 0 0 0 3px #e29a44;
          box-shadow: 0 0 0 3px #e29a44;
}

main section.info {
  padding: 80px 0 0 0;
}

main section.info .frame {
  position: relative;
  background: url(/assets/img/frame.png) top no-repeat;
  text-align: center;
  height: 1500px;
  width: 900px;
  max-width: 90%;
  margin: auto;
  padding-top: 220px;
  z-index: 5;
}

@media screen and (max-width: 850px) {
  main section.info .frame {
    max-width: 95%;
    padding: 360px 0 0 0;
  }
}

@media screen and (max-width: 735px) {
  main section.info .frame {
    max-width: 100%;
    padding: 360px 0 0 0;
  }
}

main section.info .frame .content {
  padding: 140px 140px 10px 140px;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 850px) {
  main section.info .frame .content {
    max-width: 95%;
    padding: 40px 40px 10px 40px;
  }
}

@media screen and (max-width: 735px) {
  main section.info .frame .content {
    max-width: 100%;
    padding: 40px 10px 10px 10px;
  }
}

main section.info .frame img.logo {
  position: absolute;
  top: 30px;
  width: 300px;
  margin: auto;
  left: 0;
  right: 0;
}

main section.info .frame ul li {
  font-weight: 100;
  font-size: 18px;
}

.relative {
  position: relative;
}

.relative .bottom-bg-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(45%, black));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black 45%);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(45%, black));
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black 45%);
}

.serif {
  font-family: "Ibarra Real Nova", serif;
  letter-spacing: 0.04em;
  font-family: yrsa, serif;
  font-style: normal;
}

.deco {
  font-family: rosella-deco, sans-serif;
}

.medium {
  font-weight: 300 !important;
}

.thin {
  font-weight: 100 !important;
}

.b {
  font-weight: bold;
}

.xl {
  font-size: 36px;
}

.l {
  font-size: 22px;
}

.brand {
  color: #263248;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 28px;
}

h1,
h2,
h3,
h4 {
  font-family: yrsa, serif;
  font-weight: 600;
  font-style: normal;
  color: #263248;
  margin: 6px 0 4px 0;
}

p {
  font-size: 18px;
}

p,
ul,
li {
  line-height: 1.4;
  list-style: none;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 12px;
}

.no-break {
  white-space: nowrap;
}

img.divider {
  margin: 12px auto 8px;
}

img.inline {
  display: inline-block;
  margin: 0 6px;
}

@media screen and (max-width: 450px) {
  img.inline {
    display: none;
  }
}

.flipX {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.box {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 8px;
  margin: 20px auto;
}

.gold {
  display: inline-block;
  font-family: rosella-deco, sans-serif;
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
}

a:not(.no-fx) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: 1.2em;
  -webkit-box-shadow: inset 0 -2px 0 #658ead;
          box-shadow: inset 0 -2px 0 #658ead;
  color: #263248;
}

a:not(.no-fx):hover {
  color: #658ead;
  border-color: #263248;
  -webkit-box-shadow: inset 0 -3px 0 #263248;
          box-shadow: inset 0 -3px 0 #263248;
}

.m-2 {
  margin: 12px 0 !important;
}

@-webkit-keyframes pan {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: 0px;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    left: -1000px;
  }
}

@keyframes pan {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: 0px;
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    left: -1000px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 1px #c3d3e2;
            box-shadow: 0 0 0 1px #c3d3e2;
  }
  30% {
    -webkit-box-shadow: 0 0 0 15px #c3d3e234, 0 0 0 1px #e29a44;
            box-shadow: 0 0 0 15px #c3d3e234, 0 0 0 1px #e29a44;
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 14px #e29b4442;
            box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 14px #e29b4442;
  }
  to {
    -webkit-box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 25px #e29b4400;
            box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 25px #e29b4400;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 1px #c3d3e2;
            box-shadow: 0 0 0 1px #c3d3e2;
  }
  30% {
    -webkit-box-shadow: 0 0 0 15px #c3d3e234, 0 0 0 1px #e29a44;
            box-shadow: 0 0 0 15px #c3d3e234, 0 0 0 1px #e29a44;
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 14px #e29b4442;
            box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 14px #e29b4442;
  }
  to {
    -webkit-box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 25px #e29b4400;
            box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 25px #e29b4400;
  }
}

@-webkit-keyframes move-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  35% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes move-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  35% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */