$mobile: 735px;
$tablet: 850px;
$desktop: 1200px;

$blue: rgb(38, 50, 72);
$light-blue: rgb(64, 98, 124);
$light-light-blue: rgb(101, 142, 173);

@import url("https://fonts.googleapis.com/css?family=Heebo:100,400,700&display=swap&subset=hebrew");
@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:700&display=swap");
body {
  box-sizing: border-box;
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
    font-weight: 100;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #141b22 url(/assets/img/bg.png) top center / 100% auto no-repeat fixed;
}

main {
  header {
    position: sticky;
    z-index: 999;
    @media screen and (max-width: 1200px) {
      position: initial;
    }
    width: 100%;
    top: 0;

    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    @media screen and (min-width: $desktop) {
      padding: 50px;
    }
    a {
      max-width: 45%;
      max-height: 100%;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
    .logo2 {
      width: 160px;
    }
    .logo3 {
      width: 260px;
    }
  }
  section.landing {
    min-height: 100vh;
    width: 100%;

    .hidden {
      visibility: hidden;
    }

    .window-to-yeshivah {
      height: 60vh;

      .first-video {
        margin: 32px auto;
        text-align: center;
        position: relative;
        z-index: 1;
        video {
          max-width: 100%;
          max-height: 600px;
          border-radius: 12px;
        }
        .video-overlay-play-button {
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 10px calc(50% - 50px);
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          opacity: 0.95;
          cursor: pointer;
          transition: opacity 150ms;
        }

        .video-overlay-play-button:hover {
          opacity: 1;
        }

        .video-overlay-play-button.is-hidden {
          display: none;
        }
      }

      .second-video {
        img.yeshiva,
        img.window,
        .mask {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          user-select: none;
          -webkit-user-drag: none;
          -khtml-user-drag: none;
          -moz-user-drag: none;
          -o-user-drag: none;
          user-drag: none;
        }

        .mask {
          height: 43%;
          max-width: 75%;
          mask: url(/assets/img/mask.png) center / contain no-repeat;
          img.yeshiva {
            object-fit: cover;
            bottom: -200px;
            animation: pan 23s ease-in-out 0s infinite alternate;
          }
          video {
            min-width: 100%;
            height: 100%;
          }
        }
        img.window {
          object-fit: contain;
          max-width: 90%;
          height: 60%;
          // background: url(/assets/img/yeshiva.jpg) top center / contain no-repeat fixed;
        }
      }
    }

    .text {
      h1 {
        text-align: center;
        font-size: 42px;
        font-weight: 200;
        color: #c3d3e2;
      }
      .controls {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .btns {
          display: flex;
          align-items: center;
          position: relative;
          svg.arrow {
            position: absolute;
            top: 40px;
            margin: 0 auto;
            right: 0;
            left: 0;
            fill: #4e6070;
            cursor: pointer;
            transition: all 0.25s ease-in;
            animation: move-down 1s linear 0s infinite;
            &:hover {
              transform: translateY(10px) scale(1.1);
              fill: #c3d3e2;
            }
          }
          .icon {
            margin: 0 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              cursor: pointer;
              background: #1d3144;
              padding: 6px;
              border-radius: 50%;
              transition: all 0.3s ease-in;
              box-shadow: 0 0 0 1px #eae888;
              &.play.animate {
                animation: pulse 2s linear 0s infinite;
              }
              #primary,
              #secondary {
                fill: #c3d3e2;
              }
              &:hover,
              &:focus {
                // transform: scale(1.05);
                box-shadow: 0 0 0 3px #e29a44;
              }
            }
          }
        }
      }
    }
  }
  section.info {
    padding: 80px 0 0 0;
    .frame {
      position: relative;
      background: url(/assets/img/frame.png) top no-repeat;
      text-align: center;
      height: 1500px;
      width: 900px;
      max-width: 90%;
      margin: auto;
      padding-top: 220px;
      z-index: 5;
      @media screen and (max-width: $tablet) {
        max-width: 95%;
        padding: 360px 0 0 0;
      }
      @media screen and (max-width: $mobile) {
        max-width: 100%;
        padding: 360px 0 0 0;
      }
      .content {
        padding: 140px 140px 10px 140px;
        height: 100%;
        overflow: auto;
        @media screen and (max-width: $tablet) {
          max-width: 95%;
          padding: 40px 40px 10px 40px;
        }
        @media screen and (max-width: $mobile) {
          max-width: 100%;
          padding: 40px 10px 10px 10px;
        }
      }

      img.logo {
        position: absolute;
        top: 30px;
        width: 300px;
        margin: auto;
        left: 0;
        right: 0;
      }
      ul {
        li {
          font-weight: 100;
          font-size: 18px;
        }
      }
    }
  }
}
.relative {
  position: relative;
  .bottom-bg-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    z-index: -2;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black 45%);
  }
}

// UTILS
.serif {
  font-family: "Ibarra Real Nova", serif;
  letter-spacing: 0.04em;
  font-family: yrsa, serif;
  // font-weight: 600;
  font-style: normal;
}
.deco {
  font-family: rosella-deco, sans-serif;
}
.medium {
  font-weight: 300 !important;
}
.thin {
  font-weight: 100 !important;
}
.b {
  font-weight: bold;
}
.xl {
  font-size: 36px;
}
.l {
  font-size: 22px;
}
.brand {
  color: $blue;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 28px;
}
h1,
h2,
h3,
h4 {
  font-family: yrsa, serif;
  font-weight: 600;
  font-style: normal;
  color: $blue;
  margin: 6px 0 4px 0;
}
p {
  font-size: 18px;
}
p,
ul,
li {
  line-height: 1.4;
  list-style: none;
}
ul {
  padding: 0;
}
li {
  margin-bottom: 12px;
}
.no-break {
  white-space: nowrap;
}
img.divider {
  margin: 12px auto 8px;
}
img.inline {
  display: inline-block;
  margin: 0 6px;
  @media screen and (max-width: 450px) {
    display: none;
  }
}
.flipX {
  transform: scaleX(-1);
}
.box {
  display: inline-block;
  // background: linear-gradient(45deg, $light-blue, $blue);
  padding: 4px 16px;
  border-radius: 8px;
  margin: 20px auto;
}
.gold {
  display: inline-block;
  // background: linear-gradient(
  //   45deg,
  //   rgba(236, 231, 137, 1) 0%,
  //   rgba(204, 147, 73, 1) 26%,
  //   rgba(236, 231, 137, 1) 53%,
  //   rgba(204, 147, 73, 1) 69%,
  //   rgba(236, 231, 137, 1) 84%,
  //   rgba(204, 147, 73, 1) 100%
  // );
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  font-family: rosella-deco, sans-serif;
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
}
a:not(.no-fx) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s;
  line-height: 1.2em;
  // border-bottom: 1px solid $light-blue;
  box-shadow: inset 0 -2px 0 $light-light-blue;
  color: $blue;
  &:hover {
    color: $light-light-blue;
    border-color: $blue;
    box-shadow: inset 0 -3px 0 $blue;
  }
}
.m-2 {
  margin: 12px 0 !important;
}
@keyframes pan {
  from {
    transform: scale(1);
    left: 0px;
    // bottom: 0px;
  }
  to {
    transform: scale(1.1);
    left: -1000px;
    // bottom: -200px;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1px #c3d3e2;
  }

  30% {
    box-shadow: 0 0 0 15px #c3d3e234, 0 0 0 1px #e29a44;
  }

  70% {
    box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 14px #e29b4442;
  }

  to {
    box-shadow: 0 0 0 25px #c3d3e200, 0 0 0 25px #e29b4400;
  }
}
@keyframes move-down {
  0% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutUp {
  animation: zoomOutUp 1s;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp 1s;
}
